.brandlogo {
	max-height: 200px;
	max-width: 200px;
	margin: 2em;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.brandheader {
	width: 100%;
	background-color: black;
	color: white;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	padding: 1.5em;
	display: flex;
	justify-content: center;
}
.brandrow {
  display: flex;
}

.brandcolumn {
	flex: 33.3333%;
	margin: 1em;
	background-color: white;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	padding: 2em;
}

@media screen and (max-width: 600px) {
  .brandcolumn {
    width: 100%;
  }
}